#blue > #point {
    transition: all var(--time) var(--cubic);

    position: relative;
    top: -100%;
    right: -100%;

    display: block;

    background-color: var(--white);

    width: calc(var(--logo-size)/2 * 0.8);
    height: calc(var(--logo-size)/2 * 0.8);

    border-radius: 100%;
}

#blue {
    transition: all var(--time) var(--cubic);

    position: absolute;
    top: 0;
    left: 0;

    width: calc(var(--logo-size) / 2);
    height: calc(var(--logo-size) / 2);
    
    border-radius: var(--roundness);

    background-color: var(--blue);

    overflow: hidden;
}

.step-1 #blue {
    width: calc(var(--logo-size)/2 * 1.2);
    height: calc(var(--logo-size)/2 * 0.8);

    border-radius: 0px 0px 0px calc(var(--roundness) * 2);
}

.step-2 #blue > #point {
    transform: translate(-50%, 50%);
}